.app.dark {
    --bg-color: #333434;
    --inverted-bg-color: #c6d7dd;


    --primary-color: #a9afb5;
    --secondary-color: #b1b9be;
    --inverted-primary-color: #002c7e;
    --inverted-secondary-color: #0c7ab6;
}