.app.light {
    --bg-color: #c6d7dd;
    --inverted-bg-color:#333434;


    --primary-color: #002c7e;
    --secondary-color: #0c7ab6;
    --inverted-primary-color: #a9afb5;
    --inverted-secondary-color: #b1b9be;
}